html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

    #map { 
        height: 100vh; 
        width: 100%; 
        margin: 0; 
        position: fixed; 
        top: 0; 
        left: 0; 
        overflow: visible !important; /* Отключаем обрезку */

        transform: translateY(+300px); /* сдвигаем весь контейнер вверх */
    }
    .leaflet-container { 
        overflow: visible !important; 

        background: transparent; /* Прозрачный фон */
    }
    .leaflet-tile-container {
        transform-origin: center center; /* Центр вращения для тайлов */
    }
    .fixed-marker {
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        border: 2px solid white;
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none; /* Игнорируем события мыши */
    }

.traffic-light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black; /* или нужный цвет */
}

.timer {
  position: absolute; /* чтобы точно позиционировать внутри traffic-light */
  top: 50%;           /* центр по вертикали */
  left: 50%;          /* центр по горизонтали */
  transform: translate(-50%, -50%); /* корректное центрирование */
  font-size: 50px;
  font-weight: 900;
  pointer-events: none; /* не блокирует клики */
  white-space: nowrap;
}


.crossroad {
  font-weight:bold; 
  font-size: 12px;
  margin-bottom:4px; 
  color:indigo;"
}

/* Стрелка пользователя */
.user-icon div {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid blue; /* стрелка всегда синяя */
  margin: auto;
  transform-origin: 50% 50%;
}
